{% extends 'base_book.html' %}
{% load static %}

{% block title %}
    Library | {{ user.username }}
{% endblock %}

{% block content %}   
    <div class='view'>
        <div class='view-cover'>
            <img src={{book.cover.url}} width'270' height='360' style="object-fit: cover">
        </div>
        <div class='meta'>
            <h1 style="font-size: 2.5em;">{{book.title}}</h1>
            <hr>
            <br>
            <h3>by {{book.author}}</h3>
            <br>
            {% if seriesStatus %}
                <p>Status : <span  class='going'> {{book.status}}</span></p>
            {% else %}
                <p>Status : <span  class='finish'> {{book.status}}</span></p>
            {% endif %}
            <p>JP Publisher : {{book.pub_jp}}</p>
            <p>EN Publisher : {{book.pub_en}}</p>
            <p>Genre : 
                {% for g in genres %}
                    <a href='/genres/{g}'>{{ g }},</a>
                {% endfor %}
            </p>
            <p> Description : {{book.desc}}</p>
        </div>
    </div>
    <br>
    <br>
    <div class='details'>
        <div>
            <h3>Genres</h3>
            {% for g in genres %}
                <a href='#'>{{ g }},</a>
            {% endfor %}
        </div>
        <div>
            <h3>Rating</h3>
            <p>4.5</p>
        </div>
        <div>
            <form method='POST' action= {% url 'theapp:view_book' id=book.pk %}>
                {% csrf_token %}
                {% if status %}    
                    <button class='remove' type='submit'>Remove</button>
                {% else %}
                    <button class='add' type='submit'>Add to Library</button>
                {% endif %}
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class='volumes'>
        <h3>List of available volumes</h3>
        <br>
        <table>
            <tr>
                <th>Volume</th>
                <th>Release Data</th>
                <th>Read</th>
            </tr>
            {% for v in volume %}
            <tr>
                <td>Volume {{ v.volume }}</td> 
                <td>{{ v.pub_date }}</td>
                {% if v.status %}
                <td>
                    <input type='checkbox' checked>
                    <a href='#'><i class="fa-solid fa-pencil"></i></a>
                </td>
                {% else %}
                <td>
                    <input type='checkbox'>
                    <a href='#'><i class="fa-solid fa-pencil"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
<br><br>
<hr><hr>