{% extends 'base_book.html' %}
{% load static %}

{% block title %}
    {{ book.title }} | Library
{% endblock %}

{% block content %}   
    <div class='view'>
        <div class='view-cover'>
            <img src={{book.cover.url}} width'270' height='360' style="object-fit: cover">
        </div>
        <div class='meta'>
            <h1 style="font-size: 2.5em;">{{book.title}}</h1>
            <hr>
            <br>
            <h3>by {{book.author}}</h3>
            <br>
            {% if seriesStatus %}
                <p>Status : <span  class='going'> {{book.status}}</span></p>
            {% else %}
                <p>Status : <span  class='finish'> {{book.status}}</span></p>
            {% endif %}
            <p>JP Publisher : {{book.pub_jp}}</p>
            <p>EN Publisher : {{book.pub_en}}</p>
            <p>Genre : 
                {% for g in genres %}
                    <a href='/genres/{g}'>{{ g }},</a>
                {% endfor %}
            </p>
            <p> Description : {{book.desc}}</p>
        </div>
    </div>
    <br>
    <br>
    <div class='details'>
        <div>
            <h3>Genres</h3>
            {% for g in genres %}
                <a href='#'>{{ g }},</a>
            {% endfor %}
        </div>
        <div>
            <div class="modal fade" id="review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ book.title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body">
                        <form method='POST' action={% url 'theapp:view_book_update' id=book.pk %}>
                            {% csrf_token %}
                            <input type='hidden' name='series' value='{{ book.id }}'>
                            <input type='hidden' name='profile' value='{{ profile.id }}'>
                            {{ revForm.as_p }}
                            <button type='submit' name='rev-form'>submit</button>
                        </form>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Rating</h3>
            {% if book.score %}
                <p>{{ book.score }}</p>
            {% else %}
                <p>Empty</p>
            {% endif %}
            {% if checkReview %}
                <p>You have review this series</p>
            {% else %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review">Give Review</button>
            {% endif %}
        </div>
        <div>
            <form method='POST' action= {% url 'theapp:view_book' id=book.pk %}>
                {% csrf_token %}
                {% if status %}    
                    <button class='remove' type='submit' name='lib-form'>Remove</button>
                {% else %}
                    <button class='add' type='submit' name='lib-form'>Add to Library</button>
                {% endif %}
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <br>
    <!-- Button trigger modal -->
    <!-- Modal -->
    {% for v in volume %}
    <div class="modal fade" id="{{ v.uniq }}-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Volume {{ v.volume }} note</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                <form method='POST' action={% url 'theapp:view_book_update' id=book.pk %}>
                    {% csrf_token %}
                    <input type='hidden' name='pk' value='{{ v.uniq }}'>
                    {{ form.as_p }}
                    <button type='submit' name='note-form'>submit</button>
                </form>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <div class='volumes'>
                   
        <h3>List of available volumes</h3>
        <br>
        <table>
            <tr>
                <th>Volume</th>
                <th>Release Data</th>
                <th>Read</th>
            </tr>
            {% for v in volume %}
            <tr>
                <td>Volume {{ v.volume }}</td> 
                <td>{{ v.pub_date }}</td>
                {% if v.status %}
                <td>
                    <input type='checkbox' checked>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ v.uniq }}-modal"><i class="fa-solid fa-pencil"></i></button>
                </td>
                {% else %}
                <td>
                    <input type='checkbox'>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ v.uniq }}-modal"><i class="fa-solid fa-pencil"></i></button>
                </td>
                {% endif %}
            </tr>
            {% for note in v.note_set.all %}
            <tr>
                <td class='note-view' colspan='3'>
                {{ note.note }}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
<br><br>
<hr><hr>