/* ============================== VARIABLE ============================== */
:root {
    --text: #02010d;
    --background: #f3f2fe;
    --bgShade: #d1cfe0;
    --primary: #322996;
    --secondary: #185083;
    --accent: #53c87a;
} 
html {
    font-size: 16px;
}
/* ============================== GLOBAL ============================== */
img {
    border-radius: 15px;
}
body {
    background-color: var(--background);
}
* { margin: 0; padding: 0; }
a, h1, h2, h3, h4, h5, span, p, button, input, textarea, small {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--text);
}
li { list-style: none; }
button {
    padding: 10px 12px;
    border-radius: 10px;
    background: var(--background);
    border: 2px solid var(--primary);
}
button:hover {
    background: var(--primary);
    color: var(--background);
    transition: .5s;
}
.user-active {
     border-right: 2px solid black; 
}
input, textarea { outline: none; }
.primary { color: var(--primary); }
.secondary { color: var(--secondary); }
.accent { color: var(--accent); }
.bold { font-weight: bolder; }
/* ============================== INPUT ============================== */
input, select {
    background: var(--background);
    /* box-shadow: none; */
    padding: 10px 12px; 
    border: 1px solid var(--text);
    border-top: none;
    border-left: none;
    border-right: none;
}

/* ============================== FOOTER ============================== */
footer {
    margin-top: 20px;
    width: 100%;
}
footer div {
    text-align: center;
    padding: 20px 0px;
    width: 30%;
    margin: auto;
    border-top: .5px solid black;
}
/* ============================== NAVBAR ============================== */
section, header {
    width: 85%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    font-size: 1.2rem; 
    align-items: flex-end;
    border-bottom: 6px double black;
    margin-bottom: 30px;
}
.green-border:hover {
    padding-bottom: 10px;
}
.dropdown button {
    background: var(--background);
    font-size: 20px;
    border: none; 
  }
.dropdown button:hover {
    border-bottom: 2px solid var(--accent);
}
.dropdown {
    font-size: 20px;
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--background);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    transition: .5s;
    margin-left: 8px;
    background: var(--bgShade);
}

.dropdown:hover .dropdown-content {display:block;}
/* =================================================================== */
/* ============================== INDEX PAGE ========================= */
/* =================================================================== */

  
/* ============================== HERO ============================== */
.hero {
    width: 60%;
    text-align: center;
    font-size: 16px;
    margin-top: 120px;
    margin-bottom: 100px; 
}
.hero h1 {
    font-size: 4.2vw;
}
.menu {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 200px;
}
.menu ul {
    display: flex;
    justify-content: space-evenly;
}
/* ============================== ABOUT ============================== */
.about {
    background: var(--primary); 
    border-radius: 20px; 
    padding: 30px; 
}
.about p { color: var(--background); }
.about h1 { 
    color: var(--background);
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.definition {
    /* background-color: gray; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto; 
}
.definition img { border-radius: 5%; }
.definition p { margin-left: 100px; }
/* ============================== JOIN US ============================== */
.joinus {
    padding: 30px; 
    background: var(--secondary);
    text-align: center;
    color: white; 
    border-radius: 20px; 
}
.joinus p, .joinus h1, .joinus small { color: white; }
.joinus p { margin-bottom: 20px; }
.joinus a {
    background: var(--bgShade);
    padding: 10px 15px; 
    border-radius: 20px; 
}

.search {
    text-align: right;
}

/* =================================================================== */
/* ============================== LOGIN PAGE ========================= */
/* =================================================================== */
.account { 
    width: 80%;
    margin: auto;
    text-align: center;
}
.account p {
    margin-bottom: 15px;
}
.account label {
    margin-right: 20px;
}
.account .helptext, .account ul {
    display: none;
}
/* =================================================================== */
/* ============================ ADD BOOKS PAGE ======================= */
/* =================================================================== */
.settings h2 { margin-bottom: 20px; }
.user {
    display: flex;
    margin: auto;
    /* justify-content: space-evenly; */
}
.user .map { 
    flex: 1; 
}
.user .map li { margin-bottom: 10px; width: 70%; }
.user .map a { padding-right: 20px; }
.user .content {flex: 4; }
.user form p { margin-bottom: 20px; display: flex; width: 80%; justify-content: space-between;}
.user form input { width: 70%; }

/* =================================================================== */
/* ============================== LIBRARY PAGE======================== */
/* =================================================================== */
.lib-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 25px;
}
.lib-item {
    text-align: center;
    max-width: 220px; 
    cursor: pointer;
}
.recc .lib-item {
    margin: auto;
}
.recc .lib-item {
    text-align: center;
    max-width: 215px; 
    cursor: pointer;
}
.lib-item img {
    border-radius: 15px;
}
.lib-item span { 
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lib-item:hover {
    filter: brightness(50%);
    transition: all .5s;
}
.errorlist { display: none; }
/* =================================================================== */
/* ============================== UPDATE PAGE======================== */
/* =================================================================== */
.history {
    width: 100%;
    margin-bottom: 200px;
}
.notes { 
    background: var(--bgShade);
    border: 1px solid black; 
    padding: 15px; 
    border-radius: 20px; 
}
textarea {
    width: 69%;
    background: var(--bgShade);
    border: 1px solid black;
    padding: 10px;
}
/* =================================================================== */
/* ============================== BOOK PAGE======================== */
/* =================================================================== */

.book {
    font-size: 16px;
}
.book .view .view-cover {
    padding: 10px 45px;
}
.book .meta h1 { font-size: ; font-weight: bolder; }
.going {
    padding: 5px 8px;
    background: blue;
    color: white;
}
.book .view {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.book .meta p {
    line-height: 25px;
}
.book .details {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 75%;
}
.book .details div {
    text-align: center;
    margin: auto;
}
.book .volumes {
    width: 72%;
    margin: auto;
    font-size: 1.5em;
}
.book .volumes li {
    padding: 10px 30px;
    border: 1px solid black;
}
.book table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;

}
.book table td, th {
    border-bottom: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
.book table td {
    font-size: 18px;    
}
.book td input {
    padding: 6px;
    
}
.volumes .note-view {
    text-align: left;
    background: var(--bgShade);
}
.modal-content form {
}
.modal-content label {
    display: none;
}
.model-content textarea {
    margin: auto;
    display: block;
    width: 100%:
    padding: 10px 20px;
}

@media screen and (max-width: 800px) {
    .definition {
        display: block;
    }
    .definition img {
        display: block;
        margin: auto; 
    }
    .definition p {
        margin-left: 0;
        padding: 30px;
    }
}
